.BG-1 {
	width: 100%;
	height: 85vh;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.BG-2 {
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

.BG-3 {
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.black-overlay-1 {
	background-color: rgba(0, 0, 0, 0.3);
}

.black-overlay-2 {
	background-color: rgba(0, 0, 0, 0.6);
}
